body {
  background: #efefef;
}

#btn {
  width: 200px;
  height: 200px;
  background: #ef454a;
  border-radius: 50%;  /* 丸にする */
  margin: 30px auto 0; /* 上、左右、下 */
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;     /* ポインター形状変更 */
  }

#btn:hover {          /* ポインターが乗った時 */
  opacity: 0.9;        /* 色を少し薄く */
}
